
         <% @today = Date.today %>
         <% @nextday = Date.today+1 %>
 <%#= (@nextday.to_date - @today.to_date).to_i @myTasks%>
<%# @today = time.strftime("%B %d, %Y") %>

        <% if @myTasks.count==0 %>
<br />
<%= "There is no issue assigned to you " %>

<% else %>
<table class="list files">
  <tr bgcolor="#eaeaea">
    <td class="filename"><b><%= "Issue" %></b></td>
   
    
    
   <!-- <td class="filename"><b><%#= "Priority" %></b></td> -->
    <td class="filename"><b><%= "Status" %></b></td>
   
    <td class="filename"><b><%= "Last Updated" %></b></td>



  </tr>

<% count = 0 %>
<% for i in @myTasks %>
    <%# next if i.status_id == 5 %>
    <%# break  if count>4 %>
    <tr class="file <%= cycle("odd", "even") %>">
    <td class="filename" ><%#= link_to_issue  i %>
    <%= link_to truncate(i.subject.capitalize, :length => 60), issue_path(i) %> <!--(<%=h i.status %>) -->
    </td>
    
  <!-- <td >
    <%# if i.priority_id == 1 %>
        <%#="Low"%>
    <%#  elsif i.priority_id ==2 %>
        <%#= "Normal" %>
     <%#   elsif i.priority_id==3 %>
        <%#= "High" %>
      
     <%# elsif i.priority_id ==4 %>
        <%#= "Urgent" %>
     <%# else %>
     <%#= "Immediate" %>
     
     <%# end %>
 </td> -->
    
   
  <% if i.due_date!= nil %>
  <%# sub_date = -(Date.today - i.due_date).to_i  %>
  <% sub_date = (i.due_date - i.updated_on.to_date ).to_i  %>
  <% end %>
  <% status = i.status.to_s %>
    <td> 
      <% if sub_date!= nil && sub_date < 0  %>
        
      <div class="nice round progressbar alert large-10"> 
      <span class="meter" style="width: <%= i.done_ratio %>%"><%= i.done_ratio %>%</span> 
      </div>
     <% elsif sub_date!= nil && sub_date >= 2   %>
        
      <div class="nice round progressbar large-6"> 
      <span class="meter" style="width: <%= i.done_ratio %>%"><%= i.done_ratio %>%</span> 
      </div>
     <% elsif sub_date!= nil && sub_date == 1 && i.done_ratio <= 80  %>
        
      <div class="nice round progressbar success large-10"> 
      <span class="meter" style="width: <%= i.done_ratio %>%"><%= i.done_ratio %>%</span> 
      </div>

     <% elsif sub_date!= nil && sub_date == 1 && i.done_ratio >= 80  %>
        
      <div class="nice round progressbar large-6"> 
      <span class="meter" style="width: <%= i.done_ratio %>%"><%= i.done_ratio %>%</span> 
      </div> 

     <% elsif sub_date!= nil && sub_date == 0 && i.done_ratio != 100 %>
        
      <div class="nice round progressbar alert large-10"> 
      <span class="meter" style="width: <%= i.done_ratio %>%"><%= i.done_ratio %>%</span> 
      </div>

     <% elsif sub_date!= nil && sub_date == 0 && i.done_ratio == 100 %>
        
      <div class="nice round progressbar large-6"> 
      <span class="meter" style="width: <%= i.done_ratio %>%"><%= i.done_ratio %>%</span> 
      </div> 

     <% end %> 
    </td>
    
    


    <td class="filename">

        <%= i.updated_on.strftime("%B %d, %Y") %>

    </td>
     </tr>

       <% count = count+1 %>
  <% end %>

<% end %>


</table>
