<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @user.firstname %></h1>
    <p>
      your username login is: <%= @user.login %>.<br>
    </p>
	
	<p>
      Your Due Projects are : <%= @project_id%>.
    </p>

    <p>
    Your Due issues from today's date are : <%= @id %> and Due Date is on: <%= @due_date>
    </p>
    <p>Thanks for being with us</p>
  </body>
</html>