<%= @fileuser.permission_flag %>



<h1> Edit Permission </h1>
<%= form_for :fileuser, :url => edit_fileuser_path, :html => {:method => :put} do |f| %>
  <div class="field">
    <% f.label :permission_flag %>
    <br />
    
    <%= f.radio_button :permission_flag, 1 %><%= "Can View" %>
    <br />
    <%= f.radio_button :permission_flag, 0 %><%= "Can't View" %>
    
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

  <% end %>