<% if @allFiles.count==0 %>
<br />
<%= "You don't have any files " %>

<% else %>
<br />Your Uploaded Files

<br />
<table class="list files">
  <tr bgcolor="#eaeaea">
    <td><b><%= "File Name" %></b></td>
    <td><b><%= "Uploaded On" %></b></td>
   <td><b> <%= "Size" %></b></td>
  </tr>

<% count = 0 %>
<% for a in @allFiles %>

<% if User.current.id == a.author_id %>
    <% break  if count>4 %>
    <tr class="file <%= cycle("odd", "even") %>">
    <td class="filename"><%= a.filename %></td>
    <td class="created_on"><%= a.created_on %></td>
    <td class="filesize"><%= a.filesize/1000 %> KB </td>
     </tr>

       <% count = count+1 %>
  <%end %>

<% end %>

<% end %>

</table>



